<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="IPServidor1" value="192.168.9.1" />
    <add key="IPServidor2" value="192.168.9.2" />
    <add key="IPCliente1" value="192.168.9.3" />
    <add key="IPCliente2" value="192.168.9.4" />
    <add key="IPCliente3" value="192.168.9.5" />
  
    <add key="DirArchivos" value="C:\Files"/>

  </appSettings>
</configuration>